Source: ros-indigo-eigen-stl-containers
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-indigo-catkin
Homepage: http://eigen.tuxfamily.org/dox/TopicUnalignedArrayAssert.html
Standards-Version: 3.9.2

Package: ros-indigo-eigen-stl-containers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev
Description: This package provides a set of typedef's that allow using Eigen datatypes in STL containers
